<h1>Увійти</h1>

<%= form_with url: sign_in_path do |form|%>
    <div class="mb-3">
        <%= form.label :email%>
        <%= form.text_field :email, class: "form-control", placeholder: "name@gmail.com"%>
    </div>
    <div class="mb-3">
        <%= form.label "Пароль"%>
        <%= form.password_field :password, class: "form-control" %>
    </div>

    <div class="mb-3">
        <%= form.submit "Підвтердити", class: "btn btn-primary"%>
        <a class="link" href="/sign_up">Немає профілю?</a>
    </div>
<% end %>