<h1>Ваш кошик</h1>

<% if @cart_items.present? && @cart_items.any? %>
  <table class="table">
    <thead>
      <tr>
        <th>Продукт</th>
        <th>Кількість</th>
        <th>Ціна</th>
        <th>Сума</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @cart_items.each do |item| %>
        <tr>
          <td><%= item.product.name %></td>
          <td><%= item.quantity %></td>
          <td><%= number_to_currency(item.product.price) %></td>
          <td><%= number_to_currency(item.quantity * item.product.price) %></td>
          <td>
            <%= button_to 'Видалити', remove_item_cart_path(item), method: :delete, class: 'btn btn-danger' %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <h3>Сума: <%= number_to_currency(@cart_items.sum { |item| item.quantity * item.product.price }) %></h3>
  <%= button_to "Checkout", checkout_cart_path, method: :post, class: "btn btn-success" %>

<% else %>
  <p>Кошик порожній!</p>
<% end %>

