<%= form_with model: @product, url: admin_products_path do |form| %>
  <div class="mb-3">
    <%= form.label "Назва" %>
    <%= form.text_field :name, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label "Опис" %>
    <%= form.text_area :description, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label "Ціна" %>
    <%= form.number_field :price, class: "form-control", step: "0.01" %>
  </div>

  <div class="mb-3">
    <%= form.label "Категорія" %>
    <%= form.select :category, options_for_select(["Electronics", "Books", "Clothing", "Toys", "Other"], @product.category), { include_blank: "Select Category" }, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.label :image, "Додайте фото" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Додати товар", class: "btn btn-primary" %>
  </div>
<% end %>
