<div>
    <div class="container">
        <% if @product.image.attached? %>
            <%= image_tag @product.image, class: "img-fluid" %>
        <% else %>
            <p>No Image Available</p>
        <% end %>

        <h1><%= @product.name %></h1>
        <h5><%= number_to_currency(@product.price, unit: "₴") %></h5>

        <%= button_to 'Додати до кошика', add_item_cart_path(product_id: @product.id, quantity: 1), method: :post, class: 'btn btn-primary' %>

        <p><%= @product.description %></p>

        <% if user_signed_in? %>
            <h3>Leave a review</h3>
            <%= form_with model: [ @product, @product.reviews.new ], local: true do |form| %>
                <div class="form-group">
                    <%= form.label :content, "Your Review" %>
                    <%= form.text_area :content, class: "form-control", rows: 4 %>
                </div>
                <%= form.submit "Submit Review", class: "btn btn-primary" %>
            <% end %>
        <% else %>
            <p>You need to be logged in to leave a review.</p>
        <% end %>

        <h3>Reviews:</h3>
        <% @product.reviews.each do |review| %>
            <div class="review mb-3">
                <% if review.user %>
                    <p><strong><%= review.user.email %></strong></p>
                <% else %>
                    <p><strong>Guest</strong></p>
                <% end %>
                <p><%= review.content %></p>
            </div>
        <% end %>
    </div>
</div>
